body{
  margin: 0px;
}

.tateti{
  background-color: red;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.conteiner{
  background-color: blue;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayAgain {
  left: 150px;
  top: 250px;
  width: 100px;
  height: 100px;
  position: absolute;
  /* background-color: red; */
}

.fullScreen{
  width: 100%;
  height: 619px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}